body{
background-color: rgb(25,25,25);
color:white;
font-family:arial;
}

.container{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.title{
display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
font-weight: bold;
}

.icons-container{
display: grid;
grid-template-columns: 0.5fr 0.5fr 0.5fr;
margin: 20px 10px;
}

.move-icon{
height: 50px;
background-color: white;
width:50px;
height:50px;
border-radius: 50px;
padding:8px;
}

.move-button{
background-color: white;
border: 3px solid white;
width:120px;
height:120px;
border-radius: 60px;
margin-right: 10px;
cursor:pointer;
}

.results-container{
display: grid;
grid-template-rows: 1fr 1fr;
}

.js-result {
display:grid;
justify-content: center;
align-items: center;
font-size:25px;
font-weight: bold;
}

.score{
margin-top:30%;
}

.buttons-container{
display: grid;
grid-template-columns: auto auto;
column-gap: 20px;
}

.reset-score-button, .auto-play-button{
background-color: white;
border:none;
font-size:15px;
padding: 8px 15px;
cursor:pointer;
}

@media screen and (min-width: 576px){
    .container{
    border: solid 2px white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
}